Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g22, pull requests merged in 2022-09, with the labels that each got.

#67 Update project documentation
  project-report/_config.yml
Labels: documentation

#69 Improve UI for match page
  frontend/src/components/CodeEditor.js
  frontend/src/components/Question.js
  frontend/src/components/chat/Footer.js
  frontend/src/components/chat/Header.js
  frontend/src/pages/chat.js
  frontend/src/pages/matching-service/MatchRoomPage.js
  frontend/src/pages/user-service/NavBar.js
Labels: frontend

#70 Add abbreviation of username to avatar in NavBar component
  frontend/src/pages/user-service/NavBar.js
Labels: frontend

#71 Hide avatar when user is not logged in
  frontend/src/pages/user-service/NavBar.js
Labels: frontend

#78 Add refresh/revoke token features
  frontend/package-lock.json
  frontend/src/App.js
  frontend/src/config/configs.js
  frontend/src/controller/token-controller.js
  frontend/src/controller/user-controller.js
  frontend/src/pages/user-service/LoginPage.js
  frontend/src/pages/user-service/NavBar.js
  frontend/src/pages/user-service/SignupPage.js
  user-service/controller/user-controller.js
  user-service/index.js
  user-service/package-lock.json
  user-service/package.json
Labels: User service

#80 Add delete account button
  frontend/package-lock.json
  frontend/src/App.js
  frontend/src/controller/user-controller.js
  frontend/src/pages/user-service/NavBar.js
  user-service/package-lock.json
Labels: frontend

#81 Redirect logged in users to match selection page
  frontend/src/App.js
Labels: frontend

#83 Update GitHub actions CI
  .github/workflows/run_tests.yml
  .github/workflows/run_tests_for_all_services.yml
  frontend/package-lock.json
  user-service/package-lock.json
  user-service/package.json
  user-service/tests/test.js
Labels: frontend

#82 Add email checks and ui updates
  frontend/src/App.js
  frontend/src/config/configs.js
  frontend/src/controller/user-controller.js
  frontend/src/pages/matching-service/MatchSelectionPage.js
  frontend/src/pages/user-service/NavBar.js
  frontend/src/pages/user-service/SignupPage.js
  user-service/controller/user-controller.js
Labels: frontend

#86 Add software architecture design pattern
  project-report/README.md
Labels: frontend

#85 Add sequence diagram for match request
  project-report/README.md
  project-report/images/match-request.png
  project-report/sequence-diagrams/match-request.puml
  project-report/sequence-diagrams/style.puml
Labels: documentation

#87 Fix access to restricted pages
  frontend/src/App.js
  frontend/src/controller/token-controller.js
Labels: frontend

#88 Update the frontend ui for match selection page
  frontend/src/App.js
  frontend/src/LoginProtected.js
  frontend/src/controller/token-controller.js
  frontend/src/controller/user-controller.js
  frontend/src/pages/matching-service/MatchSelectionPage.js
  frontend/src/pages/matching-service/MatchSelector.js
  frontend/src/pages/user-service/LoginPage.js
  user-service/controller/user-controller.js
Labels: frontend

#91 Update signup form validation
  frontend/src/config/configs.js
  frontend/src/pages/user-service/SignupPage.js
Labels: frontend

#93 Add api requests to configure user data in realtime database
  frontend/src/controller/user-controller.js
  frontend/src/pages/user-service/SignupPage.js
  user-service/controller/user-controller.js
Labels: User service

#94 Update signup validation checks
  frontend/src/controller/user-controller.js
  frontend/src/pages/user-service/SignupPage.js
  user-service/controller/user-controller.js
Labels: frontend

#96 Fix bug where chat does not work after refresh
  frontend/src/pages/Chat.js
  frontend/src/pages/matching-service/MatchSelectionPage.js
  frontend/src/pages/matching-service/SocketContext.js
  matching-service/index.js
  matching-service/server.js
Labels: bug, Matching service, frontend

#97 Same fix as #95
  frontend/src/pages/matching-service/LeaveRoomOverlay.js
  frontend/src/pages/matching-service/MatchSelectionPage.js
Labels: bug, duplicate, Matching service, frontend

#102 Update frontend to use API gateway
  api-gateway/package-lock.json
  api-gateway/package.json
  api-gateway/routes.js
  api-gateway/server.js
  frontend/.env.development
  frontend/.env.production
  frontend/src/config/configs.js
  frontend/src/controller/token-controller.js
  frontend/src/controller/user-controller.js
  frontend/src/pages/Chat.js
  frontend/src/pages/matching-service/LeaveRoomOverlay.js
  frontend/src/pages/matching-service/MatchRoomPage.js
  frontend/src/pages/matching-service/MatchSelectionPage.js
  frontend/src/pages/matching-service/SocketContext.js
  frontend/src/pages/user-service/LoginPage.js
  frontend/src/pages/user-service/NavBar.js
Labels: frontend

#103 Update documentation
  project-report/README.md
  project-report/images/api-gateway-authentication.png
  project-report/images/match-request.png
  project-report/sequence-diagrams/api-gateway-authentication.puml
  project-report/sequence-diagrams/match-request.puml
  project-report/sequence-diagrams/style.puml
Labels: documentation
