Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g22, pull requests merged in 2022-10, with the labels that each got.

#104 Implement get question implementation on question-service and matching…
  matching-service/package.json
  matching-service/server.js
  questions_service/controller/question-controller.js
  questions_service/index.js
  questions_service/model/question-orm.js
  questions_service/model/repository.js
Labels: enhancement, matching-service, question-service

#106 Add collaboration service endpoint to API gateway
  api-gateway/config.js
  api-gateway/proxy.js
  api-gateway/routes.js
  api-gateway/server.js
  collaboration-service/Dockerfile
  collaboration-service/LICENSE
  collaboration-service/README.md
  collaboration-service/bin/callback.js
  collaboration-service/bin/server.js
  collaboration-service/bin/utils.js
  collaboration-service/package-lock.json
  collaboration-service/package.json
  collaboration-service/rollup.config.js
  collaboration-service/src/y-websocket.js
  collaboration-service/tsconfig.json
  docker-compose.yml
Labels: collaboration-service, api-gateway

#107 Fix bug where frontend cannot connect to websockets through API gateway
  api-gateway/proxy.js
  api-gateway/server.js
Labels: bug, matching-service, collaboration-service, api-gateway

#108 Update frontend to connect to collaboration service...
  api-gateway/proxy.js
  frontend/.env.development
  frontend/.env.production
  frontend/.env.test
  frontend/src/components/CodeEditor.js
  frontend/src/config/configs.js
  frontend/src/pages/matching-service/MatchRoomPage.js
Labels: frontend, collaboration-service, api-gateway

#109 Implement questions-service
  .gitignore
  .vscode/settings.json
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Question.js
  frontend/src/pages/matching-service/LeaveRoomOverlay.js
  frontend/src/pages/matching-service/MatchRoomPage.js
  frontend/src/pages/matching-service/MatchSelectionPage.js
  matching-service/package.json
  matching-service/server.js
  questions-service/.env
  questions-service/.gitignore
  questions-service/Dockerfile
  questions-service/controller/question-controller.js
  questions-service/index.js
  questions-service/model/question-model.js
  questions-service/model/question-orm.js
  questions-service/model/repository.js
  questions-service/package-lock.json
  questions-service/package.json
Labels: frontend, question-service

#110 Connect frontend to collaboration service through API gateway
  api-gateway/proxy.js
  collaboration-service/package-lock.json
  collaboration-service/package.json
  frontend/.env.development
  frontend/.env.production
  frontend/.env.test
  frontend/src/components/CodeEditor.js
  frontend/src/config/configs.js
  frontend/src/pages/matching-service/SocketContext.js
Labels: frontend, collaboration-service, api-gateway

#111 Deploy questions service
  .github/workflows/manual-deploy.yml
  terraform/main.tf
  terraform/modules/questions-service/main.tf
  terraform/variables.tf
Labels: question, deployment

#113 Update ports for question service
  questions-service/.env
  questions-service/config/config.js
  questions-service/index.js
  questions-service/model/repository.js
  questions-service/package.json
Labels: question-service, deployment

#112 Add loading button and verification checks to signup page
  frontend/package-lock.json
  frontend/src/pages/user-service/LoginPage.js
  frontend/src/pages/user-service/SignupPage.js
  user-service/config/firebase-config.js
  user-service/controller/user-controller.js
Labels: frontend

#115 Fix socket creation consistency bug
  frontend/src/components/Question.js
  frontend/src/components/chat/Header.js
  frontend/src/pages/Chat.js
  frontend/src/pages/matching-service/MatchRoomPage.js
  frontend/src/pages/matching-service/MatchSelectionPage.js
  frontend/src/pages/matching-service/SocketContext.js
  matching-service/index.js
  matching-service/server.js
Labels: bug, matching-service, frontend

#114 Add functionality to delete user data from realtime database
  user-service/controller/user-controller.js
Labels: user-service

#116 Update matching service deployment
  matching-service/config.js
  matching-service/index.js
  matching-service/server.js
Labels: matching-service, question-service

#117 Implement sending leave match event when user closes tab
  matching-service/index.js
  matching-service/server.js
Labels: matching-service

#118 Send `uuid` instead of Opponent name
  frontend/src/pages/matching-service/LeaveRoomOverlay.js
  frontend/src/pages/matching-service/MatchRoomPage.js
  frontend/src/pages/matching-service/MatchSelectionPage.js
  matching-service/server.js
Labels: matching-service, frontend

#121 Implement peer connection status in match room page
  frontend/src/pages/matching-service/LeaveRoomOverlay.js
  frontend/src/pages/matching-service/MatchRoomPage.js
  frontend/src/pages/matching-service/MatchSelectionPage.js
  frontend/src/pages/user-service/NavBar.js
  matching-service/config.js
  matching-service/index.js
  matching-service/server.js
  questions-service/config/config.js
Labels: matching-service, frontend

#122 Add complete re-deployment workflow
  .github/workflows/manual-deployment-full.yml
  .github/workflows/manual-deployment-partial.yml
  .github/workflows/run-unit-tests.yml
Labels: deployment

#123 Add history service to possible enhancements
  project-report/README.md
Labels: documentation

#126 Fix authentication logic with secured HTTP endpoints
  api-gateway/proxy.js
  api-gateway/routes.js
Labels: bug, api-gateway
